{% extends "base.html.twig" %}
{% block title %} 
    {{ parent() }} 
    Accueil 
{% endblock %}
{% block contenu %} 
    <h1> Bienvenue sur SHOP- SHOP </h1> 
    <div class="contener-fluid">
        <div class="row">
            <div class="col-12 col-md-6 text-center bg-primary"> Message</div>
        </div>
    </div>
{% endblock %}