{% extends "base.html.twig" %}
{% block title %} 
    {{ parent() }} 
    Mention légales
{% endblock %}
{% block contenu %} 
    <h1> Bienvenue sur SHOP- SHOP  la page Mention légales</h1> 
{% endblock %}